body{
  margin: 0;
  padding: 0;
}

//================== INDEX.HTML ==================//

// Navigation -->

.navigation{
  transition: .3s all;
  background-color: rgba(12,0,0,1);
  .container{
    .row{
      .col-md-12{
        .navbar{
          .logo{
            .logo-default{
              width: 60px;
              height: 60px;
            }
          }
        }
        .collapse{
          .navbar-nav{
            .nav-item{
              .nav-link{
                color: #fff;
                font-size: 12px;
                line-height: 20px;
                padding: 10px 14px;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: .2s ease-in-out 0s;
              }
              .button-form-inter{
                display: block;

                .inter-button{
                  .img{
                    color: #fff !important;
                    font-size: 12px;
                    line-height: 20px;
                    padding: 5px 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    transition: 0.2s ease-in-out 0s;
                  }
                }
              }
              .dropdown-menu{
                background: black;
                a{
                  display: block;
                  color: white;
                  &:hover{
                    background: none;
                    transform: scale(1.4);
                    margin-left: 15px;
                    transition: 0.4s all;
                  }
                }
              }
            }
          }
        }

        form .input-group {

          .input-group-prepend .input-group-text{
            background: transparent;
          }

          input{
            color: white;
          }

          .input-group-append .input-group-text{
            background: transparent;
            width: 160px;
          }
          .input-group-append .select1 {
            width: 300px;
            border: solid 1px white;
            background-color: transparent;
            color: white;
            cursor: pointer;
            option{
              background-color: black;
              cursor: pointer;
            }
          }
          .input-group-append .select2 {
            width: 160px;
            margin-left: 5px;
            border: solid 1px white;
            background-color: transparent;
            color: white;
            cursor: pointer;
            option{
              background-color: black;
            }
          }
        }
      }
    }
  }
}

// Navigation <--

// header <--

.header .card-img-overlay{
  background-color: rgba(1,1,1,0.8);
  text-align: center;
  .row{
    padding-top: 30px;
    .col-md-6{
      .w-100{
        margin-top: 30px;
      }
      .header-text1{
        color: white;
        font-weight: 600;
        font-size: 40px;
        margin-top: 30px;
      }
      .header-text2{
        font-weight: 400;
        color: white;
      }
      .header-text3{
        display: flex;
        margin-top: 30px;
        .header-text31{
          text-align: center;
          width: 160px;
          .header-text-1{
            font-weight: bold;
            font-size: 45px;
            color: white;
          }
          .header-text-2{
            font-weight: 400;
            font-size: 16px;
            color: white;
          }
        }
      }
      .header-text4{
        display: flex;
        margin-top: 30px;
        a{
          display: block;
          display: flex;
          width: 240px;
          height: 50px;
          background-color: #e0a800;
          margin-left: 10px;
          justify-content: center;
          .text{
            color: white;
            font-size: 18px;
            margin-top: 10px;
            font-weight: 500;
          }
          img{
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-left: 15px;
          }
        }
      }
      .header-text5{
        margin-top: 10px;
        a{
          display: block;
          display: flex;
          width: 490px;
          height: 50px;
          background-color: #e0a800;
          margin-left: 10px;
          justify-content: center;
          .text{
            color: white;
            font-size: 18px;
            margin-top: 10px;
            font-weight: 500;
          }
          img{
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-left: 15px;
          }
        }
      }
      .header-text6{
        margin-top: 15px;
        display: flex;
        .header6-text1{
          color: white;
          margin-left: 10px;
        }
        .header6-text2{
          img{
            width: 130px;
            margin-left: 20px;
            margin-top: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// header <--

// header tab <--

.header-tab .header1{
  background-color: #ffc107;
  border-bottom: solid 3px black;
  //position: sticky;
  //top: 0;
  .row{ height: 50px;
    .col-md-12{
      .nav{
        justify-content: center;
        .nav-item{
          height: 50px;
          .active{
            height: 50px;
            border-radius: 0;
            border: solid 1px transparent;
          }
          .nav-link{
            display: block;
            color: black;
            font-weight: 600;
            box-sizing: border-box;
            padding-top: 10px;
            &:hover{
              border: solid 1px transparent;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

.header-tab .header2 .row .col-md-12 .tab-content{
  padding-bottom: 100px;

  // tab menu 1 <--

  .menu1 .row {

    .col-md-12{
      .menu1-text1{
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        color: black;
      }
      .menu1-text2{
        font-size: 16px;
        font-weight: 600;
        margin-top: 8px;
        color: black;
      }
      .menu1-text3{
        font-size: 16px;
        font-weight: 600;
        margin-top: 8px;
        color: black;
      }
      .menu1-text4{
        font-size: 15px;
        font-weight: 300;
        color: black;
      }
    }
  }

  // tab menu 1 <--
  // tab menu 2 <--

  .menu2{
    .row{
      margin-top: 30px;
    }
    .row .col-md-12{
      font-size: 45px;
      font-weight: 700;
      margin-left: 100px;
      margin-bottom: 70px;
    }
    .row .col-md-4 .card{
      border: none;
      .card-header{
        background-color: transparent;
        border: none;
        img{
          width: 25%;
          border-radius: 50%;
        }
      }
      .card-body{
        .card-body-text1{
          font-size: 18px;
          font-weight: 500;
          color: black;
          margin-top: -18px;
        }
        .card-body-text2{
          font-size: 13px;
          font-weight: 400;
          color: rgba(1,1,1,0.7);
          margin-top: 6px;
        }
      }
    }
  }

  // tab menu 2 <--
  // tab menu 3 <--

  .menu3{
    .fond-img{
      width: 104%;
      margin-left: -2%;
      margin-top: -1.6%;
    }
    .card-img-overlay{
      background-color: rgba(1,1,1,0.7);
      text-align: center;

      .overy-text1{
        font-size: 45px;
        font-weight: 700;
        color: white;
        font-family: Algerian;
        margin-top: 180px;
      }
      .overy-text2{
        font-size: 22px;
        font-weight: 400;
        color: white;
        font-family: Arial;
      }
      .overy-text3{
        margin-top: 30px;
        a{
          img{
            width: 130px;
            margin: 10px;
          }
        }
      }
      .overy-text4{
        width: 80%;
        background-color: rgba(256,256,256,0.2);
        margin-left: 10%;
        box-sizing: border-box;
        padding: 40px 80px;
        margin-top: 90px;
        .overy4-text1{
          color: white;
          font-weight: 500;
          a{
            color: white;
            font-weight: 500;
          }
        }
        .overy4-text2{
          margin-top: 20px;
          display: flex;
          justify-content: center;
          .text-a{
            display: flex;
            width: 280px;
            height: 48px;
            background-color: white;
            margin: 20px;
            position: relative;
            .a-text{
              color: black;
              font-size: 15px;
              font-weight: 500;
              margin-top: 12px;
              margin-left: 20px;
            }
            img{
              width: 30px;
              height: 25px;
              position: absolute;
              top: 12px;
              right: 20px;
            }
          }
          .text-acc{
            display: flex;
            width: 280px;
            height: 48px;
            background-color: #e0a800;
            margin: 20px;
            position: relative;
            .a-text{
              color: black;
              font-size: 15px;
              font-weight: 500;
              margin-top: 12px;
              margin-left: 20px;
            }
            img{
              width: 30px;
              height: 25px;
              position: absolute;
              top: 12px;
              right: 20px;
            }
          }
        }
      }
    }
  }

  // tab menu 3 <--
  // tab menu 4 <--

  .menu4 .row{
    .col-md-8{
      .menu4-text1{
        font-size: 34px;
        color: black;
        font-weight: 700;
        margin-top: 30px;
      }
      .menu4-text2{
        font-size: 14px;
        color: black;
        font-weight: 300;
        margin-top: 10px;
      }
      .menu4-text3{
        width: 100%;
        height: 0.5px;
        background-color: black;
        margin-top: 15px;
      }
    }
  }

  // tab menu 4 <--
  // tab menu 5 <--

  .menu5{
    .menu5-text1{
      font-size: 30px;
      font-weight: 700;
      margin-top: 80px;
      color: black;
      font-family: Arial;
    }
    .menu5-text2{
      font-size: 17px;
      font-weight: 600;
      color: black;
    }
    .menu5-text3{
      width: 70%;
      height: 0.5px;
      background-color: black;
      margin-top: 15px;
    }
  }

  // tab menu 5 <--

}

// header tab <--

// footer <--

.footer{
  background-color: black;
  padding: 40px 0px;
  .container .row {

    .fotercol1 a {
      display: block;
      color: white;
      font-size: 18px;
      margin: 20px 0px;
      &:hover{
        transform: scale(1.1,1.1);
        transition: 0.4s all 0s;
      }
    }

    .fotercol2{
      text-align: center;
      .footer-logo{
        img{
          width: 100px;
          margin-top: 30px;
        }
      }
      .footer-tarmoq{
        margin-top: 20px;
        a{
          margin: 15px;
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .fotercol3{
      text-align: right;
      a{
        display: block;
        color: white;
        font-size: 18px;
        margin: 20px 0px;
        &:hover{
          transform: scale(1.1,1.1);
          transition: 0.4s all 0s;
        }
      }
      div{
        color: white;
        font-size: 18px;
        margin: 20px 0px;
        &:hover{
          transform: scale(1.1,1.1);
          transition: 0.4s all 0s;
        }
      }
    }

  }


}

// footer <--

//================== END INDEX.HTML ==================//

//================== JOURNALS.HTML ==================//

.container-fluid{
  .jurnal1{
    .col-md-12{
      text-align: center;
      margin-top: 70px;
      margin-bottom: 60px;
      div{
        font-size: 40px;
        font-weight: 700;
        font-family: Arial;
        color: black;
      }
    }
  }
  .jurnal2{
    margin-bottom: 20px;
    .col-md-2{
      cursor: pointer;
      .card-header{
        background-color: transparent;
        border: none;
        img{
          width: 100%;
          box-shadow: black 4px 4px 15px;
          &:hover{
            transform: scale(1.13,1.13);
            transition: 0.4s ease-in 0s;
          }
        }
      }
      .card-body{
        .cardtext1{
          color: black;
          font-size: 17px;
          margin-top: -14px;
          font-weight: 500;
        }
        .cardtext2{
          color: #343a40;
          font-size: 16px;
          margin-top: 5px;
          font-weight: 400;
        }
      }
    }
  }
}

//================== END JOURNALS.HTML ==================//

//================== SUBSCRIPTION.HTML ==================//

.SUBSCRIPTION{
  .row{
    overflow: hidden;
    position: relative;
    align-items: center;
    .sub1{
      .sub1-text1{
        color: black;
        font-weight: 900;
        font-family: Arial;
        font-size: 35px;
        margin-left: 70px;
      }
      .sub1-text2{
        color: black;
        font-weight: 600;
        font-family: Arial;
        font-size: 18px;
        margin-left: 70px;
        width: 400px;
        margin-top: 15px;
      }
    }
    .sub2{
      background-color: rgba(1,1,1,0.8);
      box-sizing: border-box;
      padding-bottom: 100px;
      padding-top: 30px;
      .sub2-text1{
        font-size: 24px;
        margin-top: 30px;
        font-weight: 600;
        font-family: Arial;
        color: white;
        width: 500px;
      }
      .sub2-text2{
        font-size: 14px;
        margin-top: 10px;
        font-weight: 400;
        font-family: Arial;
        color: rgba(256,256,256,0.8);
        width: 600px;
        .span1{
          font-weight: 600;
          color: white;
        }
        span{
          color: #e0a800;
        }
        a{
          color: rgba(256,256,256,0.8);
        }
      }
      .sub2-text3{
        font-size: 16px;
        font-weight: 600;
        color: rgba(256,256,256,0.9);
        margin-top: 20px;
      }
    }
    .SUBSfond{
      position: absolute;
      width: 200%;
      bottom: 0;
      right: -100%;
      opacity: 0.5;
    }
  }
}

//================== END SUBSCRIPTION.HTML ==================//

//================== ABOUT US.HTML ==================//

.ABOUTus{
  .row{
    overflow: hidden;
    position: relative;
    align-items: center;
    .SUBSfond{
      position: absolute;
      width: 200%;
      bottom: 0;
      right: -100%;
      opacity: 0.4;
    }
    .col-md-7{
      margin-top: 80px;
      margin-bottom: 80px;
      margin-left: 320px;
      background-color: rgba(1,1,1,1);
      box-sizing: border-box;
      padding: 70px;
      border-radius: 15px;
      .about-text1{
        color: white;
        font-size: 34px;
        font-weight: 700;
        font-family: Arial;
        margin-bottom: 20px;
      }
      .about-text2{
        color: rgba(256,256,256,0.9);
        font-size: 16px;
        span{
          font-family: cursive;
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}

//================== END ABOUT US.HTML ==================//

//================== FOR ADVERTISERS.HTML ==================//

.ADVERTISERS{
  .row{
    margin-top: 100px;
    margin-bottom: 120px;

    .forADVER1{
      .bodytask1{
        font-weight: 700;
        font-size: 48px;
        color: black;
        font-family: Arial;
      }
      .bodytask2{
        display: flex;
        margin-top: 60px;
        .bodtext1{
          img{
            width: 65px;
            margin-top: 10px;
          }
        }
        .bodtext2{
          height: 70px;
          width: 1.5px;
          background-color: black;
          margin-left: 20px;
          margin-top: 5px;
        }
        .bodtext3{
          margin-left: 20px;
          span{
            font-weight: 700;
            color: black;
            font-size: 19px;
          }
        }
      }
    }

    .forADVER2{
      .advertaks{
        display: flex;
        margin-top: 15px;
        .advertaks1{

        }
        .advertaks2{
          margin-left: 10px;
        }
      }
    }
  }
}

//================== END FOR ADVERTISERS.HTML ==================//

//================== CONTACTS.HTML ==================//

.CONTACTS{
  position: relative;
  overflow: hidden;
  img{
    position: absolute;
    width: 100%;
    margin-left: -1%;
    bottom: 0;
  }
  .row{

    .col-md-8{
      background-color: rgba(1,1,1,0.7);
      text-align: center;
      padding: 70px 0px;
      .conTASK1{
        font-size: 35px;
        font-weight: 600;
        font-family: Arial;
        color: white;
        margin-top: 30px;
      }
      .conTASK2{
        font-size: 18px;
        font-weight: 500;
        font-family: Arial;
        color: white;
        margin-top: 8px;
      }
      .conTASK3{
        a{
          color: white;
          font-weight: 100;
        }
      }
    }
  }
}

//================== END CONTACTS.HTML ==================//
